body {
  padding: 3em;
  /*font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E",'Source Code Pro',monospace,"ヒラギノ角ゴ Pro W3",メイリオ,Arial,Verdana,"ＭＳ Ｐゴシック",sans-serif;;*/
  font-family:游ゴシック,Arial, Helvetica, 游ゴシック, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 21px;'Source Code Pro'
  line-height: 1.5;
  color: #333333;
  background:#fa;
}

html {
  background-color: #f8f8f8;
}

pre code {
  font-family: Consolas, 'Source Code Pro';
}
pre.souceCode{
  font-family: Consolas;
}

p {
    margin-bottom: 1em;
    margin-top: 2em;
}
p + p{
    margin-bottom: 1em;
    margin-top: 0.5em;
}

ul, ol, p {
    font-family:游ゴシック,"游明朝", "HG明朝E",'Source Code Pro',sans-serif;;
    font-size: 21px;
    line-height: 1.6;
    padding-left: 15px;
}
ul, ol {
  color: #1256A4;
  padding: 0.5em 0 0.5em 1.5em;
}

ul li, ol li {
  line-height: 1.5;
  list-style: disc;
}
strong {
  color: red;
  font-family: '游ゴシック';
}
.CodeMirror pre, .output pre {
    font-family: console, 'Source Code Pro','游ゴシック', monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-family: '游ゴシック';
    padding: 5px;
    font-weight: bold;
}
h1 {
    font-size: 36px;
    padding: 0.5em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    border-bottom: solid 5px #1256A4;
    color: black;
    background-color: white;
}
h1.title {
  text-align: center;
  color: black;
  font-size: 36px;
  background-color: white;
  border: solid 0px white;
}
h2 {
  border-left:#1253A4 7px solid;
  padding:5px;
  padding-left:20px;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  font-size: 28px;
  color: black;
}
h3 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 15px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: black;
}
li.ist-group-iteml.active {
  background-color: #1256A4;
}
li.list-group-item.active:hover {
  background-color: #F26964;
}

blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    font-style: italic;
    border: solid 2px #464646;
    color: #464646;
    margin:1.5em 2em 1.5em 2em;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    vertical-align: middle;
    content: "“";
    font-family: sans-serif;
    color: #77c0c9;
    font-size: 90px;
    line-height: 1;
}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}
.math{
  font-size: 25px;
  font-family: "Computer Modern";
}

pre math {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  font-size: 25px;
  font-family: "Computer Modern";
}


code,
pre {
  padding: 0 3px 2px;
  font-family: 'Source Code Pro', Consolas, Monaco, Menlo,  "Courier New", monospace;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

p strong {
  padding: 2px 4px;
  white-space: nowrap;
  background: linear-gradient(transparent 60%, #FFD464 60%);
  font-weight: bold;
  color: black;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.6em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

ul.tocify-header, ul.tocify-subheader {
  font-size: 13px;
}
li.list-group-item.active {
  background-color: #F26964;
}
li.list-group-item.active:hover {
  background-color: #F26964;
}




